body
{
  background-color: #006376;
  padding: 0;
  margin: 5px;
  text-align: center;
}

header
{
  background-color: #3f002d;
  padding: 20px;
  box-shadow: 0 0 30px #a854aa;
  text-align: right;
}

header li
{
  display: inline;
  padding-left: 60px;
}

header li a
{
  color:#c8c6c2;
  text-decoration: none;
  padding: 10px;
  transition: 3s ease;
}

header li a:hover
{
  color: #000;
}

.row {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  display:grid;
  grid-template-columns: auto auto auto auto;
  background-color: #006376;
  padding: 20px;
  border-radius: 20px;
}

.item {
  background-color: #01253b;
  box-shadow: 0 0 15px #00add7;
  border: 1px solid #00add7;
  padding: 40px;
  font-size: 30px;
  text-align: center;
}


footer
{
  background-color: #3f002d;
  padding: 20px;
  margin: 0;
  box-shadow: 0 0 30px #a854aa;
  text-align: center;
  color: #c8c6c2
}

